@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-control-attribution {
    width: 0px;
    height: 0px;
}

.leaflet-control-zoom {
    outline: 1px solid red;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 4px;
    padding: 0px;
    display: none;    
}



@media (max-width: 640px) {
    .leaflet-top {
        display: none; /* Ocultar en dispositivos con un ancho máximo de 640px (dispositivos móviles) */
    }
}

*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input,
textarea,
select,
button,
a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

a:focus,
a:visited,
a:active{
    outline: none;
}

*::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }

.background{
    background-color: #FAFAFA;
    
}

.orange-bg {
    background-color: #fe8a2a;
}

.azul {
    background-color: rgb(20, 79, 96);
}