@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-control-attribution {
    width: 0px;
    height: 0px;
}

.leaflet-control-zoom {
    outline: 1px solid red;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 4px;
    padding: 0px;
    display: none;    
}



@media (max-width: 640px) {
    .leaflet-top {
        display: none; /* Ocultar en dispositivos con un ancho máximo de 640px (dispositivos móviles) */
    }
}

